<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Packages</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airline System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/topnavbar :: navbar"></div>


<div class="container" align="center">

    <div class="row">
        <h1>Packages</h1>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <a th:href = "@{/packages/new}" class = "btn btn-primary btn-sm mb-3">Add Package</a>
        </div>
    </div>
    <br>

    <table class="table table-stripped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Package ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "package: ${packages}">
            <td th:text = "${package.id}"></td>
            <td th:text = "${package.name}"></td>
            <td th:text = "${package.price}"></td>
            <td>
                <a th:href="@{/packages/edit/{id}(id=${package.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/packages/{id}(id=${package.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
</body>
</html>